{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
  
    <meta name="keywords" content="Cake, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Cake Flakes</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'tcf/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'tcf/css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'tcf/css/barfiller.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'tcf/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'tcf/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'tcf/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'tcf/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'tcf/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'tcf/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'tcf/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__cart">
            <div class="offcanvas__cart__links">
                <a href="#" class="search-switch"><img src="{% static 'tcf/img/tcflogoofficial.jfif' %}" style="width:30%"alt="">
            </div>
           
        </div>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="{% static 'tcf/img/logo.png' %}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"style="margin-top:-70px;"></div>
        
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container-fluid">
                <div class="row"style="background-color:#4fc3f7">
                    <div class="col-lg-12">
                        <div class="header__top__inner">
                            
                            <div class="header__logo">
                                <a href="./index.html"><img src="{% static 'tcf/img/tcflogoofficial.jfif' %}"style="width:10%" alt=""></a>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="canvas__open"><i class="fa fa-bars"></i></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li  class="active"><a href="index">Home</a></li>
                            <li><a href="about">About</a></li>
                            <li><a href="faq">FAQs</a></li>
                            <li><a href="#">Categories</a>
                                <ul class="dropdown">
                                    <li><a href="minicake">Mini Cake</a></li>
                                    <li><a href="themecake">Theme Cake</a></li>
                                    <li><a href="partycake">Party Cakes</a></li>
                                    <li><a href="tier">Tier Cake</a></li>
                                    <li><a href="cookies">Cookies</a></li>
                                    <li><a href="cupcakes">CupCake</a></li>
                                </ul>
                            </li>
                           
                            <li><a href="contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg" data-setbg="{% static 'tcf/img/oreocake.jfif' %}"style="height:80vh">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <div class="hero__text">
                                <h2>Making your life sweeter one bite at a time!</h2>
                                <button class="primary-btn">Our Cakes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- Hero Section End -->

   
    <!-- About Section End -->

    <!-- Categories Section Begin -->
    <div class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <a href="cupcakes.html"><span class="flaticon-029-cupcake-3"></span></a>
                            <h5>Cup Cakes</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <span class="flaticon-034-chocolate-roll"></span>
                            <h5>Cookies</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <a href="partycake.html"><span class="flaticon-005-pancake"></span></a>
                            <h5>PartyCakes</h5>
                        </div>
                    </div>
                   
                    
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <a href="themecake.html"><span class="flaticon-006-macarons"></span></a>
                            <h5>Theme Cake</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <a href="mini-cake.html"><span class="flaticon-006-macarons"></span></a>
                            <h5>Mini Cakes</h5>
                        </div>
                    </div>
                    
                    <div class="categories__item">
                        <div class="categories__item__icon">
                           <a href="tier.html"><span class="flaticon-006-macarons"></span></a>
                            <h5>Tier Cake</h5>
                        </div>
                    </div>
                
                   
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'tcf/img/shop/cacake.jfif' %}">
                            
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#"></a></h6>
                         
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'tcf/img/shop/adventurecake.jfif' %}">
                            
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#"></a></h6>
                           
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'tcf/img/shop/calendarcake.jfif' %}">
                            
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#"></a></h6>
                            
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'tcf/img/shop/crowncake.jfif' %}">
                            
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#"></a></h6>
                         
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'tcf/img/shop/mamacake.jfif' %}">
                            
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#"></a></h6>
                           
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'tcf/img/shop/oreocake.jfif' %}">
                            
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#"></a></h6>
                           
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'tcf/img/shop/pandacake.jfif' %}">
                            
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#"></a></h6>
                           
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{% static 'tcf/img/shop/pearcake.jfif' %}">
                            
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#"></a></h6>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="{% static 'tcf/img/footer-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Contact Us</h6>
                        <p style="color:white">
                            Nilkanth Apartment,flat no-3A<br>
                            96/1/5,Shibtalla street,Bhadrakali,<br>
                            Hooghly -712232<br>
                            <strong>Phone:</strong>+91 9674991388<br>
                            <strong>Email:</strong><a href="mailto:thecakeflakestcf@gmail.com"style="text-decoration:none;color:white">thecakeflakestcf@gmail.com</a><br>
                          </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <h3 style="color:white">The Cake Flakes</h3>
                        <p>Home Based Bakery with 100% Eggless Varieties to devour.</p>
                        <div class="footer__social">
                            <a href="https://www.facebook.com/swati.linga"><i class="fa fa-facebook"></i></a>
                            <a href="https://instagram.com/thecake_flakes?utm_medium=copy_link"><i class="fa fa-instagram"></i></a>
                            <a href="https://wa.me/+919674991388"><i class="fa fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__newslatter">
                        <h4 style="color:white">Useful Links</h4><br>
            <ul >
              <li ><i class="bx bx-chevron-right"></i> <a href="index.html" style="color:white">Home</a></li>
             
              <li ><i class="bx bx-chevron-right"></i> <a href="faq.html" style="color:white">Faqs</a></li>
              <li ><i class="bx bx-chevron-right"></i> <a href="contact.html" style="color:white">Contact Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="about.html"style="color:white">About</a></li>

            </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                       <center></center> <p class="copyright__text text-white">
                          Copyright :All rights reserved |Designed by Devourato</center>
                         
                      </p>
                  </div>
                 
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->

<!-- Search End -->

<!-- Js Plugins -->
<script src="{% static 'tcf/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'tcf/js/bootstrap.min.js' %}"></script>
<script src="{% static 'tcf/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'tcf/js/jquery.barfiller.js' %}"></script>
<script src="{% static 'tcf/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'tcf/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'tcf/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'tcf/js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'tcf/js/main.js' %}"></script>
</body>

</html>